.ext{
    margin-top: 12px;
    background-color: #5CCEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    max-height: 300px;
    border-radius: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ext img{
    width: 216px;
    aspect-ratio: 1.5/1;
    margin-top: 12px;
    border-radius: 18px;
}

.ext p{
    padding: 8px;
    margin: 0;
    font-family: Cabin;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    max-width: 236px;
}

.ext:hover{
    scale: 1.1;
    cursor: pointer;
}