.sidebar{
    height: 100%;
    background-color: #D9D9D9;
    position: fixed!important;
    z-index: 99;
    overflow: auto;
    width:12.5%;
    margin-right:25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}  
.userInfos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}  
.userInfos img{
    border-radius: 50%;
    width:128px;
    margin:24px 0 12px 0;
    border:5px solid black;
}
.userInfos label{
    font-size: 24px;
    color: white;
    margin-bottom: 12px;
}
.sidebarName{
    font-family: Cabin;
    font-size: 24px;
}