
table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 30%;
  }
  
  td {
    text-align: center;
  }
  .mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .arrows{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  button{
    border-radius: 12px;
    margin: 0 2rem 0 2rem;
    background-color: #5CCEEE;
    cursor: pointer;
    outline: none;
  }