body{
    background-color: #F1EBEB;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.TituloBuscador{
    display: flex;
    flex-direction: column;
}
.TituloBuscador h2{
    margin-left: 1rem;
}
.TituloBuscador input{
    background-color: transparent;
    border-radius: 12px;
    border-color: #5CCEEE;
    width: 32rem;
    margin-top: -0.5rem;
}

.FiltroAdd{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.FiltroAdd button:nth-child(1){
    background-color: #D9D9D9;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 0.6rem;
    font-size: 10px;
    margin-bottom: 0.2rem;
}

.FiltroAdd button:nth-child(1):hover{
    background-color: #5CCEEE;
    cursor: pointer;
}


.FiltroAdd button:nth-child(2){
    background-color: #5CCEEE;
    border-radius: 12px;
    border: none;
    padding: 1rem -0.1rem;
    font-size: 10px;
    font: white;
    margin-bottom: 0.2rem;
}

.FiltroAdd button:nth-child(2):hover{
    background-color: #D9D9D9;
    cursor: pointer;
}

.depts1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 0 2rem 0;
}

.depts1 div{
    width: 15%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    background-color: #5CCEEE;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0.1rem 0.2rem #388294;
}
.depts1 div:hover{
    scale: 1.1;
    cursor: pointer;
}
.depts1 img{
    align-self: center;
    width: 7rem;
    border-radius: 12px;
}


.depts2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem 0 2rem 0;
}

.depts2 div{
    width: 15%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    background-color: #5CCEEE;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0 1rem 0 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0.1rem 0.2rem #388294;
}
.depts2 div:hover{
    scale: 1.1;
    cursor: pointer;
}
.depts2 img{
    align-self: center;
    width: 7rem;
    border-radius: 12px;
}

.botoes button{
    background-color: #5CCEEE;
    border-radius: 12px;
    border: none;
    padding: 0.7rem 0.7rem;
    font-size: 10px;
    font: white;
    margin-bottom: 0.2rem;
}

.botoes button:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}