@font-face {
    font-family: Cabin;
    src: url('./fonts/Cabin.ttf');
}
label,p,h1,h2,h3,h4,h5,h6{
    font-family: Cabin;
}

body{
    background-color: #F1EBEB;
    margin: 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 26.5%;
    margin-left: -60px;
    opacity: 0;
    width: 228px;
    white-space: normal;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }