@font-face {
    font-family: Cabin;
    src: url('./fonts/Cabin.ttf');
}
label,p,h1,h2,h3,h4,h5,h6{
    font-family: Cabin;
    color: white;
}
input::placeholder{
  color: white;

}
.modeSelector{
  border: none;
  background-color: #ffffff;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 30%;
}
body{
    background-color: #1f0a56!important;
    margin: 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 46, 46);
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 26.5%;
    margin-left: -60px;
    opacity: 0;
    width: 228px;
    white-space: normal;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .tooltip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }