@import "../../main.css";

body{
    background-color: #5CCEEE!important;
    height: 100vh;
}
.forgotPassword{
    width: 60%;
    text-align: end;
    color: white;
}
.passwordDiv{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.loginAndUfc{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login{
    width: 633px;
    height: 660px;
    background-color: #150050;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 2rem 3rem 2rem;
    justify-content: space-around;
}
.login .inputImg input{
    font-size: 16px;
    width: 60%;
    border: 0;
    background-color: transparent;
    color: white;
}
.login .inputImg{
    display: flex;
    align-items: flex-start;
    width: 60%;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}
.login .inputImg button{
    border: none;
    background: transparent;
}
.login .inputImg button img:hover{
    cursor: pointer;
}
.login .inputImg input:focus{
    outline: none;
}
.login .inputImg input:nth-child(n+1){
    margin-bottom: 0.5rem;
}


.ufc{
    width: 633px;
    height: 660px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 3rem 2rem;
}

/* @media screen and (max-width: 650px) {
    .ufc{
        display: none;
    }
} */
@media (max-width: 1366px) {
    .login{
        width: 350px;
        height: 350px;
    }
    .ufc{
        width: 350px;
        height: 350px;
    }
}