<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Departamento-update.css">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../../../components/Navbar/navbar.css">
    <link rel="stylesheet" href="../../../components/Sidebar/sidebar.css">
    <link rel="stylesheet" href="../../../components/CustomButton/customButton.css">
    <title>Atualizar Departamento</title>
</head>
<body>
    <side-bar></side-bar>
    <nav-bar></nav-bar>
    <div class="main">
        <div class="head">
            <div class="TituloBuscador">
                <h2>Atualizar departamento</h2>
            </div>
        </div>
        <div class="container">
            <div class="form">
                <input type="text" placeholder="Nome departamento">
                <input type="text" placeholder="Número departamento">
            </div>
            <div class="imageUpload">
                <div class = "imageKeeper">
                    <img src="../../imgs/icons/download.svg" alt="" style="width: 144px; aspect-ratio: 1/1;">
                </div>
                <p>Upload da imagem do departamento<label> - Opcional</label></p>
            </div>
        </div>
        <div class="cards-container" id="cards-container">
        </div>
    </div> 
    
    <script src="./Departamento-update.js"></script>
    <script src="../../../components/Navbar/navbar.js"></script>
    <script src="../../../components/Sidebar/sidebar.js"></script>
    <script src="../../../components/CustomButton/customButton.js"></script>
</body>
</html>