<%- include('Partials/header'); %>
<body>
    <side-bar>
    </side-bar>
    <nav-bar></nav-bar>
    <div class="main">
        <div class="head">
            <div class="TituloBuscador">
                <h2>Departamentos</h2>
                <input type="text" name="buscador" placeholder="Buscar">
            </div>
            <div class="FiltroAdd">
                <button>Adicionar+</button>
                <button>Filtros</button>
            </div>
        </div>
        <div class="cards-container" id="cards-container">
        </div>
    </div> 
    <script src="javascripts/Departamentos/Deparatamentos.js"></script>
    <script src="javascripts/CustomButton/customButton.js"></script>
    <script src="javascripts/navbar/navbar.js"></script>
    <script src="javascripts/sidebar/sidebar.js"></script>
    <script src="javascripts/Cards2/card2.js"></script>
    <script src="javascripts/CustomLabel/customLabel.js"></script>
</body>
</html>