nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    width: 100%;
}
.nav button{
    border: none;
    background-color: #ffffff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    cursor: pointer;
}
.iconName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iconName img{
    margin-right: 8px;
}
.nav-text{
    color: #F1EBEB;
    font-size: 60px;
    font-family: Cabin
}
.navbar-buttons-holder{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 12px;
}