@import "../Departamentos/Departamentos.css";
.cards-container{
    margin-top: 12px;
    grid-template-columns:100%
}
.container{
    display: flex;
    justify-content: center;
}
.container2{
    display: flex;
    justify-content: center;
}
.tituloBuscador{
    display: flex;
    flex-direction: column;
}
.FiltroAdd{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.tituloBuscador input{
    outline: none;
    border: 2px solid #5CCEEE;
    border-radius: 12px;
    width: 100%;
    background-color: transparent;
}
.upBar{
    width: 984px;
    height: 30px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    align-items: center;
    background-color: #5CCEEE;
    color: #fff;
    border-radius: 12px;
}
label{
    margin-left: 4rem;
    margin-right: 4rem;
}
