<nav>
    <div class="nav">
        <div>
        </div>
        <div class="iconName">
            <img src="<%=`${baseUrl}/`%>images/icons/logo.svg" alt="logo">
            <div class="nav-text">
                Sistema
            </div>
        </div>
        <button onclick="lightDarkMode()">
            <img id="modeImg" src="<%=`${baseUrl}/`%>images/icons/darkMode.svg" alt="lightDarkMode">
        </button>
    </div>
</nav>