<form style="display: flex; justify-content: center">
    <div>
        <input type="text" placeholder="Pesquisa">
    </div>
    <div>
        <custom-button>Buscar</custom-button>
    </div>
</form>