<div class="sidebar">
    <div>
      <div class="userInfos">
        <img src="<%=`${baseUrl}/`%>images/ft-707-interior.jpg" alt="user-image">
        <label>Bem vindo, Admin</label>
      </div>
        <div class="sidebarName"><%=`${name}`%></div>
    </div>
    <custom-button class="color-white" redirect="Usuarios" labelName="Lista de usuários">
    </custom-button>
  </div>