custom-calendar div,custom-calendar button{
  color: black;
}

table, td, th {
  border: 1px solid black;
}
  
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 24px;
}

td {
  text-align: center;
}

#calendarBody{
  z-index: 999;
  width: 50%;
  left: 25%;
  top: 25%;
  position: absolute;
  border: 2px solid black;
  padding: 24px 24px 12px 24px;
  border-radius: 28px;
  background-color: white;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows{
  display: flex;
  align-items: center;
  padding: 12px 0;
}

custom-calendar button{
  border-radius: 12px;
  margin: 0 2rem 0 2rem;
  background-color: #5CCEEE;
  cursor: pointer;
  border: none;
}

.arrowsExitContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  justify-items: center;
}

.arrowsExitContainer #exit{
  width: 54px;
  font-size: 24px;
  height: 54px;
  font-weight: bold;
}