hr{
    width: 98%; 
    background-color: black;
}

.mainContainer-userLabel .firstLayer{
    display:grid;
    grid-template-columns:90% 10%;    
    align-items: center;
}

.mainContainer-userLabel{
    cursor: pointer;
    width: 984px;
    background-color:#CACACA;        
    border: none;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    filter: drop-shadow(-5px 5px 4px rgba(0, 0, 0, 0.25));
}


.background-light {
    background-color:#EEE8E8;
}

.itensDiv{
    margin: 0 24px;
    display: grid;
    grid-template-columns:33% 33% 33%;
    justify-items: start;
    align-items: center
}

.buttonsDiv{
    display: grid;
    grid-template-columns:50% 50%;
    justify-items: center;
    align-items: center;
}

.botao button{
    border: none;
    background-color: transparent;
}

.botao button:hover{
    cursor: pointer;
}

.botao{
    transform: rotate(0deg);
}
.botao .arrowInvert{
    transform: rotate(180deg);
}