.mainContainer-computer .handler{
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns:30% 30% 30% 10%;
    justify-items: center;
}

.mainContainer-computer{
    cursor: pointer;
    width: 984px;
    background-color:#3F0071;        
    border: none;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    filter: drop-shadow(-5px 5px 4px rgba(0, 0, 0, 0.25));
}

.mainContainerColapsed{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.colapsed{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.colapInfos{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    justify-items: center;
    padding-bottom: 1rem;
}

.colapButtons{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 2rem 0;
}


.background-light .mainContainer{
    background-color:#610094;
}
.status{
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
.status p{
    margin-left: 1rem;
}
.circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.funcionando{
    background: #5DF363;
}
.quebrado{
    background: #F66363;
}

.itensDiv{
    margin: 0 24px;

}
.buttonsDiv{
    display: grid;
    grid-template-columns:50% 50%;
    justify-items: center;
    align-items: center;
}
.botao{
    transform: rotate(0deg);
}
.botao button{
    border: none;
    background-color: transparent;
}
.botao button:hover{
    cursor: pointer;
}

.botao .arrowInvert{
    transform: rotate(180deg);
}