body{
    background-color: #F1EBEB;
}
.conH1{
    margin-left: 30%;
}
.updateinput input{
    font-size: 1.2rem;
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    width: 100%;
    margin: 12% 0 0 5%;
    border-bottom:1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.updateinput input:focus{
    outline: none;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4%;
    width: 100%;
}
.form{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    align-items: flex-start;
}
input{
    color: white;
}
.imageUpload{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px !important;
}
.imageUpload label{
    color: #B8B7B7;
}
.imageKeeper{
    background-color: #D9D9D9;
    border: 4px solid #B8B7B7;
    border-radius: 50%;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
}
.imageKeeper:hover{
    cursor: pointer;
}