.customButton button{
    border-radius: 24px;
    border:none;
    padding: 16px 12px;
    margin-bottom: 24px;
    width: 244px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Cabin;
}

.color-red .customButton button{
    background-color: #F66363;
}

.color-green .customButton button{
    background-color: #5DF363;
}

.color-white .customButton button{
    background-color: #FFFFFF ;
}
.color-gray .customButton button{
    background-color: #D9D9D9 ;
}
.color-red .customButton button:hover{
    background-color: #852222;
    color: white;
}
.color-green .customButton button:hover{
    background-color: #289c2c;
    color: white;
}
.color-white .customButton button:hover{
    background-color: #cfcbcb ;
    color: white;
}
.color-gray .customButton button:hover{
    background-color: #6e6e6e ;
    color: white;
}

.bordered .customButton button{
    border: 3px solid black;
}
.customButton button:hover{
    cursor: pointer;
}