.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 72px;
}

.TituloBuscador{
    display: flex;
    flex-direction: column;
}
.TituloBuscador h2{
    margin-left: 1rem;
}
.TituloBuscador input{
    background-color: transparent;
    border-radius: 12px;
    border-color: #5CCEEE;
    width: 32rem;
    margin-top: -0.5rem;
}

.FiltroAdd{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.FiltroAdd button:nth-child(1){
    background-color: #D9D9D9;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 0.6rem;
    font-size: 10px;
    margin-bottom: 0.2rem;
}

.FiltroAdd button:nth-child(1):hover{
    background-color: #5CCEEE;
    cursor: pointer;
}


.FiltroAdd button:nth-child(2){
    background-color: #5CCEEE;
    border-radius: 12px;
    border: none;
    padding: 1rem -0.1rem;
    font-size: 10px;
    font: white;
    margin-bottom: 0.2rem;
}

.FiltroAdd button:nth-child(2):hover{
    background-color: #D9D9D9;
    cursor: pointer;
}

.botoes button{
    background-color: #5CCEEE;
    border-radius: 12px;
    border: none;
    padding: 0.7rem 0.7rem;
    font-size: 10px;
    font: white;
    margin-bottom: 0.2rem;
}

.botoes button:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}

.cards-container{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0.5rem 0 2rem 0;
}