.cards-container-calendar .holder{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    width: 100%;
    grid-gap: 4px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cards-container-calendar{
    margin-top: 48px;
    border: 1px solid black;
    width: 75%;
}
.calendarYearViewPast,
.calendarYearView{
    width: 100%;
    padding: 12px;
    text-align: center
}
.calendarYearViewPast{
    color: gray;
}