.cards-container-calendar .holder{
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.cards-container-calendar{
    margin-top: 48px;
    border: 1px solid white;
    width: 75%;
}
.calendarYearViewPast,
.calendarYearView{
    width: 100%;
    height: 72px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    width: 100%;
}

.calendarYearViewPast{
    color: gray;
}
.cards-calendar{
    margin-top: 48px;
    width: 75%;
}
a[clicked],
tr[clicked] > td{
    background-color: #5DF363!important;
}